.container {
  display: inline-block;
  border: 5px solid black;
  margin: 5px;
  min-height: 50px;
  max-width: 300px;
}

.codeblock {
  margin: 2px;
}

.move {
  text-align: center;
  color: white;
  background-color: blue;
  width: 100px;
}

.then {
  color: white;
  background-color: green;
  width: 200px;
}

.catch {
  color: white;
  background-color: red;
  width: 200px;
}

.function {
  color: white;
  background-color: grey;
  width: 150px;
}

.promise {
  text-align: center;
  color: white;
  background-color: darkorange;
  width: 100px;
}

.methodDropspace {
  width: 95%;
  min-height: 20px;
  margin: 5px auto;
  background-color: rgba(255,255,255,.3);
}

.functionDropspace {
  width: 95%;
  min-height: 20px;
  margin: 5px auto;
  background-color: rgba(255,255,255,.3);
}

.background-tint {
  background-color: rgba(200,100,0,.5); // Tint color
  background-blend-mode: multiply;
}

.tile {
  float: left;
  color: white;
  background-color: black;
  border: 1px solid darkgrey;
}

.wormholeOrigin {
  position: relative;
}

.wormholeOrigin::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(assets/spiral8-blue.gif);
  background-size: contain;
  content: '';
  /*animation: wormholeReverse 40s linear infinite;*/
}

.goal {
  position: relative;
}

.goal::after {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(assets/moon-yellow.png);
  background-size: contain;
  content: '';
  /*animation: wormholeReverse 10s linear infinite;*/
}

.start {
  position: relative;
  background-image: url(assets/moon-red.png);
  background-size: contain;
}

.wormholePass {
  position: relative;
}

.wormholePass::after {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(assets/spiral8-green.gif);
  background-size: contain;
  content: '';
  /*animation: wormhole 20s linear infinite;*/
}

.wormholeFail {
  position: relative;
}

.wormholeFail::before {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(assets/spiral8-red.gif);
  background-size: contain;
  content: '';
  /*animation: wormholeReverse 60s linear infinite;*/
}

@keyframes wormhole {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes wormholeReverse {
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}

.ship::after {
  width: 100%;
  height: 100%;
  position: absolute;
  //background-color: grey;
  background-image: url(assets/favicon.ico);
  background-size: contain;
  content: '';
  z-index: 10;
}

.mapContainer {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
