body {
  font-family: 'VT323', monospace;
  font-size: 15px;
  background-color: #505050;
  background: linear-gradient(to right, #505050 0%, #909090 20%, #505050 100%);
}

.landing {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #909090;
  z-index: 200;
  background-size: cover;
}

.landing div {
  color: white;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.application {
  margin: auto;
  width: 1200px;
  //height: 730px;
  height: 100vh;
  //border: 1px solid red;
}

.container {
  display: inline-block;
  margin: 5px;
  min-height: 50px;
  padding: 3px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .3), inset -2px -2px 2px rgba(255, 255, 255, .3);
  border-radius: 3px;
}

.label {
  color: #252525;
  font-family: monospace;
  background: linear-gradient(to right, #a0a0a0 0%, #dbdbdb 20%, #a0a0a0 100%);
  border: 1px solid #858585;
  border-radius: 3px;
  padding: 0 3px;
}

.codeblocksContiner {
  position: absolute;
  margin-top: 60px;
  margin-left: 5px;
  width: 200px;
  height: 660px;
}

.forCodeblocks {
  position: absolute;
  margin-top: 38px;
  margin-left: 8px;
}

.solutionContainer {
  position: absolute;
  margin-top: 60px;
  margin-left: 210px;
  width: 200px;
  height: 660px;
}

.forSolution {
  position: absolute;
  margin-top: 38px;
  margin-left: 213px;
}

.mapContainer {
  position: absolute;
  //margin-top: 60px;
  margin-top: 250px;
  margin-left: 415px;
  width: 470px;
  height: 470px;
}

.forMap {
  position: absolute;
  //margin-top: 35px;
  margin-top: 228px;
  margin-left: 418px;
}

.viewportContainer {
  position: absolute;
  margin-top: 60px;
  margin-left: 892px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.forViewport {
  position: absolute;
  margin-top: 38px;
  margin-left: 895px;
}

.textboxContainer {
  position: absolute;
  //margin-top: 560px;
  background-color: #505050;
  margin-top: 60px;
  margin-left: 415px;
  width: 470px;
  height: 660px;
  font-size: 20px;
}

@keyframes collapse {
  from {height: 660px;}
  to {height: 160px;}
}

@keyframes expand {
  from {height: 160px;}
  to {height: 660px;}
}

.forTextbox {
  position: absolute;
  //margin-top: 535px;
  margin-top: 38px;
  margin-left: 418px;
}

.siphonContainer {
  position: absolute;
  margin-top: 385px;
  margin-left: 892px;
  width: 300px;
  height: 335px;
}

.forSiphon {
  position: absolute;
  margin-top: 363px;
  margin-left: 895px;
}

.siphonOverlay {
  z-index: 100;
  position: relative;
  width: 100%;
  height: calc(100% + 3px);
  background: linear-gradient(#444 50%, #000 50%);
  background-size: 100% 3px;
  background-repeat: repeat-y;
  opacity: .14;
  box-shadow : inset 0px 0px 1px 1px rgba(0, 0, 0, .8);
  animation: flicker 1s linear infinite;
  pointer-events: none;
}
