.item {
  width: 100px;
  padding-bottom: 100px;
  background-color: green;
  position: relative;
  float: left;
}

.container {
  width: 200px;
  padding-bottom: 200px;
  background-color: blue;
}

.options {
  padding: 100px;
}
